.h-buttons{margin:20px auto 0;text-align:center}

.started-content .login_form{margin:40px auto 0;width:500px}
.started-content .login_form .btn{margin:0}

.signup-top-content{width:80%;margin:0 auto}

.no-top{padding-top:150px}

.plan-container{display:flex;flex-wrap:wrap;margin:1em;display:flex;flex-direction:row;align-items:flex-start;justify-content:center}
.plan{background:white;width:20em;box-sizing:border-box;text-align:center;margin:1em;margin-bottom:1em;border:1px solid #dddddd}
.plan .title-container{background-color:#f3f3f3;padding:1em}
.plan .title-container .title{font-size:1.45em;text-transform:uppercase;color:#f26b38;font-weight:700;margin:0 auto}
.plan .info-container{padding:1em;color:#2d3b48;box-sizing:border-box}
.plan .info-container .price{font-size:1.35em;padding:1em 0;font-weight:600;margin-top:0;display:inline-block;width:80%}
.plan .info-container .price p{font-size:1.35em;display:inline-block;margin:0}
.plan .info-container .price span{font-size:1.0125em;display:inline-block}
.plan .info-container .desc{padding-bottom:1em;border-bottom:2px solid #f3f3f3;margin:0 auto;width:90%}
.plan .info-container .desc em{font-size:1em;font-weight:500}
.plan .info-container .features{font-size:1em;list-style:none;padding-left:0}
.plan .info-container .features li{padding:0.5em}
.plan .info-container .select-plan{border:1px solid #f26b38;background-color:transparent;color:#363636;border-radius:2.5em;cursor:pointer;margin:1em auto;box-sizing:border-box;max-width:70%;display:block;font-weight:700}
.plan .info-container .select-plan:hover{background-color:#f26b38;color:white}

.Rtable{display:flex;flex-wrap:wrap;margin:0 0 3em 0;padding:0}
.Rtable-cell{box-sizing:border-box;flex-grow:1;width:100%;padding:0.8em 1.2em;overflow:hidden;list-style:none;border:solid 3px white;background:rgba(112, 128, 144, 0.2)}
.Rtable-cell > h1,.Rtable-cell > h2,.Rtable-cell > h3,.Rtable-cell > h4,.Rtable-cell > h5,.Rtable-cell > h6{margin:0}
.Rtable--2cols > .Rtable-cell{width:50%}
.Rtable--3cols > .Rtable-cell{width:33.33%}
.Rtable--4cols > .Rtable-cell{width:25%}
.Rtable--5cols > .Rtable-cell{width:20%}
.Rtable--6cols > .Rtable-cell{width:16.6%}
.Rtable{position:relative;top:3px;left:3px}
.Rtable-cell{margin:-3px 0 0 -3px;background-color:white;border-color:#e2e6e9}
.Rtable-cell--dark{background-color:slategrey;border-color:#333;color:white}
.Rtable-cell--dark > h1,.Rtable-cell--dark > h2,.Rtable-cell--dark > h3,.Rtable-cell--dark > h4,.Rtable-cell--dark > h5,.Rtable-cell--dark > h6{color:white}
.Rtable-cell--medium{background-color:#eee;border-color:#eee}
.Rtable-cell--light{background-color:white;border-color:#f3f3f3}
.Rtable-cell--highlight{background-color:lightgreen;border-color:#64e764}
.Rtable-cell--alert{background-color:#f26b38;border-color:#cc7000;color:white}
.Rtable-cell--alert > h1,.Rtable-cell--alert > h2,.Rtable-cell--alert > h3,.Rtable-cell--alert > h4,.Rtable-cell--alert > h5,.Rtable-cell--alert > h6{color:white}
.Rtable-cell--head{background-color:#f3f3f3;border-color:#e2e6e9;color:#f26b38}
.Rtable-cell--head > h1,.Rtable-cell--head > h2,.Rtable-cell--head > h3,.Rtable-cell--head > h4,.Rtable-cell--head > h5,.Rtable-cell--head > h6{color:#f26b38}
.Rtable-cell--foot{background-color:#fff;border-color:#e2e6e9}

.Rtable-row-heading{background:#fff;color:#888;border-top:none;font-size:16px;border-left:none;border-right:none}

.Rtable-cell .btn,.Rtable-cell a.btn{padding:5px 15px;height:auto;line-height:normal;font-size:12px}

@media screen and (max-width: 25em) {
.plan-container{margin:0}
.plan-container .plan{width:100%;margin:1em 0}
}

@media all and (max-width: 600px) {
.started-content .login_form{width:300px}
.no-top{padding-top:100px}

.Rtable--collapse{display:block}
.Rtable--collapse > .Rtable-cell{width:100% !important}
.Rtable--collapse > .Rtable-cell--foot{margin-bottom:1em}
.Rtable-row-heading{display:none}
}
.no-flexbox .Rtable{display:block}
.no-flexbox .Rtable > .Rtable-cell{width:100%}
.no-flexbox .Rtable > .Rtable-cell--foot{margin-bottom:1em}

@media (max-width: 350px) {
.started-content.with_form{width:100%;padding:0 10%}
.started-content .login_form{width:100%}
}