<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-lg-5">
      <p>Hello</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
